<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Chef View</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .chefInterface{
                background-color: black;
                font:menu;
                text-align: center;    
                border: inset 2px crimson;
            }
        </style>
    </head>
    <body>
        <div class="chefInterface">
        </div>
    </body>
</html>
